/******************/
/*** Custom CSS ***/
/******************/

body{
	width: 700px;
	margin: 0 auto;
	font-family: Cambria, Georgia, serif;
}
dt{
	font-weight: bold;
}
dd{
	margin:0;
	margin-bottom:1em;
}
